// see https://stackoverflow.com/questions/12260279/scrolltop-not-working-in-android-mobiles
.android-fix {
    overflow:hidden !important;
    overflow-y:hidden !important;
    overflow-x:hidden !important;
}

h3 {
	font-size: 3em;
	font-variant: small-caps;
	text-align: center;
	color: gray;
}
h3 img {
	height: 1em;
	vertical-align: middle;
}

.tier-nauts {
	padding: 2px 5px;
}

.tier-label {
	text-align: right;
	font-weight: bold;
}
.tier-unset .tier-label {
	font-weight: normal;
	text-decoration: italics;
}

.naut, .naut-placeholder {
	width: 80px;
	height: 80px;
	margin: 5px;
	display: inline-block;
	background-size: cover;
	cursor: pointer;
}
.naut-placeholder {
	background-color: lightgray;
}

#naut-modal h5 {
	border-bottom: 1px solid darkgray;
}
.naut-pros, .naut-cons {
    list-style: none;
}

.naut-pro:before {
    content: "+";
    margin: 0 1em;
}

.naut-con:before {
    content: "-";
    margin: 0 1em;
}
.naut-expansion {
	height: 3rem;
	float: right;
}

#footer {
	text-align: center;
}

@media(max-width:992px) {
h3 {
	font-size: 1.5em;
	font-variant: small-caps;
	text-align: center;
	color: gray;
}
h3 img {
	height: 1em;
	vertical-align: middle;
}
.naut, .naut-placeholder {
	width: 50px;
	height: 50px;
	margin: 3px;
}
}